*{
    margin: 0;
    padding: 0;
    list-style: none;
     text-decoration: none;
     border: none;
     outline: none;
     font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
}
/* HERRAMIENTAS PARA COLORES */
.color_morado{
    color: #9966ff;
}
div a.colorblanco{
    color: #fff;
}
 /* maquetacion de menu */
 .header{
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    padding-top: 0;
}
a:link, a:visited{
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 20px 20px;
    height: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-top: 30px;
}
.menu{
    display: inline-block;
}
a:active{
    color: #b48fff;
}
a:hover{
    color: #b48fff;
}
div.iconos.link{
    background-color: #9966ff;
    float: right;
    text-align: center;
    padding-bottom: 5px !important;
}
i.colorblanco{
    color: white;
}
i.colormorado{
    color: #9966ff;
    padding-left: 15px;
    font-size: 18px;
}
.user{
    display: inline-block;
    color: #9966ff;
}
/* imagen y texto PRIMERA PAGINA*/
.contenedor_imagen{
    display: inline-block;
    position: relative;
}
.texto_superpuesto{
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 120px;
    color: white;
    font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
}
.parrafo_superpuesto{
    position: absolute;
    top: 80%;
    left: 10%;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.619);
    font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
}
/* BOTON DENTRO DE IMAGEN 1 */
.boton_curso{
    position: absolute;
    top: 70%;
    left: 10%;
    color:#fff;
    background-color: #9966ff;
    text-align: center;
}
.container{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
/* IMAGEN 2 DE PAGINA PRINCIPAL */
.parrafo_superpuesto2 div p{
    color: black;
    font-size: 50px; 
}
.seccion2 div:nth-child(2n){
    padding-top: 14rem;
    padding-left: 3rem;
}

.contenedor_imagen2{
    padding: 30px;
}
.titulo{
    position: absolute;
    right: 10rem;
    top: 190%;
    right:100px;
}
.titulo p{
    font-size: 20px;
}.titulo span{
    color: gray;
    padding-top: 5px;
}
/* TERCERA IMAGEN CON TEXTO ALA IZQUIERDA */
.imagen3{
    float: right;
    padding: 30px;
}
.float_right{
    float: left;
    padding: 30px;
}
.float_right span{
    font-size: 40px;
    color: #9966ff;
    font-family: "Libertinus Serif", serif;
}
.float_right i{
    color: #9966ff;
    font-size: 30px;
}
.float_right p{
    color: gray;
    padding-bottom: 20px;
}
/* BOTON IMAGEN 3 */
.boton2{
    background-color: #9966ff;
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 210px;
    height: 70px;
}
/* IMAGEN 4 CON TEXTO */
.imagen_4{
     display: inline-block;
    position: relative;
    padding: 15px;
}
.parrafo_encima{
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 60px;
    color: white;
    font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
}
.icono_play{
    position: absolute;
    top: 50%;
    left: 35%;
    font-size: 20px;
    color: white;
}
.span_encima{
    position: absolute;
    top: 50%;
    left: 37%;
    font-size: 20px;
    color: white;
    font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
    text-decoration: underline;
}
.span_encima2{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
    font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
    text-decoration: underline;
}
/* SECCION 5 */
.caja_1{
    background-color: #9966ff;
    margin: auto;
    width: 330px;
    height: 400px;
    display: inline-block;
    text-align: center;
    padding-top: 100px;
    margin-left: 15rem;
}
.icono_youtube{
    font-size: 60px;
    color: #fff;
    padding-bottom: 30px;
}
.texto1{
    font-size: 40px;
    color: #fff;
}
.texto2{
    font-size: 17px;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 20px;
}
.texto3{
    font-size: 20px;
    color: #4f3681;
}
.caja_2{
    background-color: #9966ff;
    margin: auto;
    /* float: right; */
    display: inline-block;
    width: 330px;
    height: 400px;
    text-align: center;
    padding-top: 100px;
    /* padding: 40px; */
    margin-left: 3rem;
}
.icono_media{
    font-size: 60px;
    color: #fff;
    padding-bottom: 30px;
}
.texto_1{
    font-size: 40px;
    color: #fff;
}
.texto_2{
    font-size: 17px;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 20px;
}
.texto_3{
    font-size: 20px;
    color: #4f3681;
}
.seccion5{
    /* padding-left: 300px; */
    padding-bottom: 100px;
}
/* PIE DE PAGINA */
.pie_de_pagina{
    background-color: rgb(66, 66, 66);
    height: 100px;
}
.centrado{
    padding-left: 30rem;
    color: #a6a6a6;
}
.centrado_iconos{
    padding-top: 1rem;
    padding-left: 32rem;
    color: #fff;
}





