/* SECCION 1 */
.planes_seccion1{
    font-size: 100px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
    width: 80rem;
}
/* SECCION 2 */
.box_1{
    border: 1px solid rgba(77, 77, 77, 0.5);
    margin: auto;
    width: 330px;
    height: 400px;
    display: inline-block;
    text-align: center;
    padding-top: 0px;
    margin-left: 7rem;
}
h1{
    padding-bottom: 20px;
    font-size: 15px;
}
.box_1 p{
    font-size: 60px;
}
sup{
    font-size: 30px;
}
span{
    font-size: 14px;
}
.chiquito{
    font-size: 12px;
}
.box_planes{
    text-align: center;
    background-color: #9966ff;
    color: white;
    width: 200px;
    margin: auto;
    padding: 15px;
}
/* CAJA 2 */
.boton_encima{
    margin-left: 6rem;
    top: 25rem;
    position: absolute;
    padding: 8px;
    background-color: #9966ff;
    color: #fff;
}
.box_2 P{
    font-size: 60PX;
}
.box_2{
    top: 10px;
    border: 1px solid rgba(77, 77, 77, 0.5);
    margin: auto;
    width: 330px;
    height: 400px;
    display: inline-block;
    text-align: center;
    margin-left: 5px;
}
/* CAJA 3 */
.box_3 P{
    font-size: 60px;
}
.box_3{
    top: 10px;
    border: 1px solid rgba(77, 77, 77, 0.5);
    margin: auto;
    width: 330px;
    height: 400px;
    display: inline-block;
    text-align: center;
    margin-left: 5px;
}
/* PIE DE PAGINA */
.pie_de_pagina{
    margin-top: 10rem;
    background-color: rgb(66, 66, 66);
    height: 100px;
}
.centrado{
    padding-left: 30rem;
    color: #a6a6a6;
}
.centrado_iconos{
    padding-top: 1rem;
    padding-left: 32rem;
    color: #fff;
}
