
/* SECCION 1 */
.seccion1{
    font-size: 45px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    font-family: "Libertinus Serif", serif;
    width: 80rem;
}
/* SECCION 2 */
.imagen1{
    display: inline-block;
    position: relative;
    width: 100%;
}
.txt1{
    position: absolute;
    top: 30%;
    left: 26%;
    font-size: 50px;
    color: white;
    font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
}
.txt2{
    text-decoration: underline;
    position: absolute;
    top: 50%;
    left: 35%;
    font-size: 25px;
    color: white;
    font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
}
.icon_play{
    position: absolute;
    top: 50%;
    left: 32%;
    font-size: 22px;
    color: white;
}
.txt3{
    text-decoration: underline;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 22px;
    color: white;
    font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
}
/* BOTON SECCION 1 */
.boton_seccion1{
    position: absolute;
    top: 90%;
    left: 45%;
    border: 1px solid white;
    color:#fff;
    text-align: center;
    padding: 10px 30px;
}



